/* tag styles */
a {
  text-decoration: none;
}
body {
  text-align: center;
  margin: 0;
  transition: background-color 0.5s ease, color 0.5s ease;
  /* transition: color 0.5s ease; */
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: rgb(0, 0, 0);
}

button {
  margin: 20px 20px;
  transition: transform 0.1s ease-in;
  border: 0px;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 40px;
}

button:hover {
  transform: scale(1.2);
  background-color: orangered;
}

h1 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 80px;
  margin: 100px auto 180px;
  text-shadow: 1px white;
}

h2,
h3 {
  font-size: 2rem;
  font-weight: 200;
}

p {
  /* margin: 30px 30px; */
}
/* class */

.body-dark {
  transition: background-color 0.5s ease, color 0.5s ease;
  /* transition: color 0.5s ease; */

  background-color: dimgrey;
  color: white;
}

.comment-p {
  font-family: "Shadows Into Light", cursive;
  color: black;
  margin: 30px;
}

.copyright {
  transition: color 0.5s ease;
  font-size: 20px;
  color: dimgrey;
  margin: 40px auto 80px;
}
.cdark {
  color: rgb(187, 187, 187);
}
.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: space-between;
  width: 100%;
}
.logo {
  height: 100px;
  width: inherit;
  margin: 40px;
}

.middle {
  display: flex;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  margin: auto 300px;
}

.middle-content {
  flex: 1 0 30%;
  padding: 0 40px 80px;
}

.middle-content:hover {
  transition: transform 0.1s ease, box-shadow 0.1s ease;
  transform: scale(1.1);
  /* box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2); */
}

.bottom {
  /* background-color: #ebd8b7; */

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

@media only screen and (min-width: 890px) {
  .nav {
    position: fixed;
    right: 0;
    bottom: auto;
    top: 20%;
    background-color: rgb(144, 144, 144);
    border-radius: 10px 0 0 10px;
    z-index: 1;
  }

  .nav-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

@media only screen and (max-width: 890px) {
  .nav {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: rgb(144, 144, 144);
    /* border-radius: 10px 0 0 10px; */
    z-index: 1;
  }

  .middle {
    margin: auto 100px;
  }

  .nav-content {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
  }
}

.nav-top {
  width: 100%;
  background-color: rgb(34, 34, 34);
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-content: center;
}

.nav-a {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  margin: 20px auto;
  color: white;
  font-weight: 600;
}
.nav-logo {
  height: 30px;
  width: inherit;
  margin: 20px;
  transition: transform 0.1s ease-in;
}

.nav-logo:hover {
  transform: scale(1.5);
}

.profile-img {
  height: 300px;
  width: 300px;
  border-radius: 100%;
}

.project-div,
.form-div,
.comment-div,
.logo-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  margin: 50px 50px 80px;
}
.comment-div {
  flex-shrink: inherit;
  margin-bottom: 100px;
}
.project-img {
  height: 300px;
  width: 300px;
  background-color: gray;
  margin: 50px;
  transition: transform 0.1s ease-in;
}

.comment-img {
  text-align: left;
  height: 200px;
  width: 200px;
  background-color: rgb(255, 176, 30);
  margin: 20px;
  transition: transform 0.1s ease-in, box-shadow 0.05s ease-in;
}
.project-img:hover,
.comment-img:hover {
  transform: scale(1.5);
  justify-self: center;
  box-shadow: 30px 50px 2px 1px rgba(0, 0, 0, 0.2);
}

.title {
  color: rgb(255, 94, 0);
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: flex-end;
  /* background-color: #99bbad; */

  padding-top: 40px;
}

.top-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 500px;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
